body{
    background-color: black;
}

.portada{

}

.foto1{
    width: 800px;
}

.titulo1{
    text-align: left;
    font-size: 8em;
    margin-left: 1.25rem;
    margin-bottom: 0;

}

.educacion{
    display: block;
    background-color: rgb(82, 82, 82);
    justify-content: space-around;
    padding-top: 12px;
    
}

.titulo2{
    margin-left: 100px;
    padding-top: 12px;
}

.customCard{
    height: 150px;
    object-fit: cover;
}